

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
.jumbotron {
	background-color:#ff00dc;
}
 
h1.Header {
	font-size: 100px;
}

a.twitter-timeline {
	left: 1px;
	width: 50%;
}

















